{{!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/img/sepatu.png" />
        <link rel="stylesheet" href="/css/style.css" />
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>Ruckz Shoes Clean</title>
      </head>
  <body>
    <!-- footer -->
    {{>header}}

    <div class="container-fluid" id="home">
        <div class="row">
            <div class="col-12 background">
                <h1>Order Activity</h1>
                <p>Shoes Clean, Repaint / Recolor and Custom Art</p>
            </div>
        </div>

        <section class="about">
            <div class="container2">

                <div class="isi">
                    <div class="container row row-cols-1 row-cols-md-1 g-4 mt-5">

                        <form method="POST" action="/input_data">

                            <h2>Insert Data</h2>
                            <br>

                            <!-- id order -->
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">ID Order</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="id_order" id="id_order" required/>
                                </div>
                            </div>

                            <!-- nama pelanggan -->
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Nama Pelanggan</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="nama_pelanggan" id="nama_pelanggan" required/>
                                </div>
                            </div>

                            <!-- merek sepatu -->
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Merek Sepatu</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="merek_sepatu" id="merek_sepatu" required/>
                                </div>
                            </div>

                            <!-- tipe sepatu -->
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Tipe Sepatu</label>
                                <div class="col-sm-10">
                                    <select id="tipe_sepatu" class="form-control" name="tipe_sepatu" required>
                                        <option value selected hidden></option>
                                        <option>Low</option>
                                        <option>Mid</option>
                                        <option>High</option>
                                      </select>
                                </div>
                            </div>                           
                            
                            <!-- warna sepatu -->
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Warna Sepatu</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="warna_sepatu" id="warna_sepatu" required/>
                                </div>
                            </div>

                            <!-- jenis layanan -->
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Jenis Layanan</label>
                                <div class="col-sm-10">
                                    <select id="jenis_layanan" class="form-control" name="jenis_layanan" required>
                                        <option value selected hidden></option>
                                        <option>Shoes Clean</option>
                                        <option>Repaint Color</option>
                                        <option>Re-Color</option>
                                        <option>Whitening</option>
                                        <option>Unyellowing</option>
                                        <option>Custom Art</option>
                                      </select>
                                </div>
                            </div>  
                            
                            <!-- total bayar -->
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Total Bayar</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="total_bayar" id="total_bayar" required/>
                                </div>
                            </div>

                            <!-- tanggal transaksi -->
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Tanggal Transaksi</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" name="tanggal_transaksi" id="tanggal_transaksi" required/>
                                </div>
                            </div>

                            <button type="submit"  value="Submit" class="btn btn-secondary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- footer -->
    {{>footer}}

  </body>
</html> --}}